#main-container {
    display: flex;
}

#camera-container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#picture-container {
    align-items: center;
    background-color: lavender;
    flex-direction: column;
    display: flex;
    flex: 1;
}

#live-cam {
    filter: contrast(150%) brightness(75%);
    flex: 1;
    width: 200px;
    border: 2px solid orange;
}

#photostrip {
    border: 2px solid orange;
    width: 250px;
}